@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #fa6e07;
  --text-color: #fff;
  --light-text-color: #aaa;
  --black-color: #000;
  --light-black: #121111;
  --nav-color: #fff;
  --dark-main: #714b00;
  --card-color: #0d1d1a;
  --star-color: #ff9900;

  --fw3: 300;
  --fw4: 400;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
}
* {
  font-family: "Teko", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: var(--black-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}
body {
  background: var(--black-color);
}
section {
  padding: 5rem 9%;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.6rem 2.8rem;
  padding-right: 3rem;
  color: var(--text-color);
  background: var(--main-color);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 87% 100%, 0% 100%);
  cursor: pointer;
  font-size: 2.1rem;
}
.btn:hover {
  background-color: var(--text-color);
  color: var(--main-color);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* navbar________________________ */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 6rem;
  z-index: 10000;
}
nav.sticky {
  background: var(--nav-color);
  transition: 0.5s;
}
.logo {
  display: flex;
  color: var(--main-color);
  position: relative;
  font-size: 4rem;
  font-weight: var(--fw7);
  left: 2%;
}
.logo span {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: var(--fw6);
}
nav.sticky .logo {
  width: 4rem;
  top: 0;
}
nav ul {
  position: relative;
  display: flex;
  float: right;
  justify-content: center;
  text-align: center;
  right: 4rem;
}
nav ul li {
  display: inline-block;
  padding: 1rem 2.3rem;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--main-color);
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-color);
  transition: width 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a.active::after {
  color: var(--main-color);
  content: "";
  width: 100%;
  height: 0.2rem;
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-color);
  transition: width 0.3s;
}

/* Home Section___________________________ */
.home {
  padding: 0;
  margin-top: 5rem;
}
.main {
  position: relative;
  max-width: 1360px;
  min-height: 92vh;
  margin: auto;
  bottom: 0;
  background-image: url(./assets/cover.jpg);
  background-size: cover !important;
  background-position: center !important;
}
.container {
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  margin: auto;
  min-height: 70vh;
}
.container .row {
  width: 100%;
  justify-content: space-around;
  margin: auto;
  display: flex;
  position: relative;
}
.menu {
  display: none;
}
.container .row .home-text {
  width: 50rem;
  float: left;
  margin: auto 0.1rem;
  padding: 3rem 0 3rem 0;
  flex-wrap: wrap;
  position: absolute;
  top: -4rem;
  left: 9rem;
}
.container .row .home-text h3 {
  font-weight: var(--fw4);
  font-size: 2.6rem;
  color: var(--light-text-color);
}
.container .row .home-text h1 {
  font-size: 6rem;
  font-weight: var(--fw5);
  color: var(--text-color);
  padding: 0;
  margin: -2rem 0;
}
.container .row .home-text h1 span {
  color: var(--main-color);
  font-size: 8rem;
  font-weight: var(--fw7);
  padding: 0;
  margin: 0;
}
.container .row .home-text p {
  color: var(--light-text-color);
  font-size: 1.7rem;
  font-weight: var(--fw3);
  margin-bottom: 1rem;
}
/* About Section__________________ */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8rem;
}
.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  position: relative;
}
.about .image::before,
.about .image::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--main-color);
  height: 15rem;
  width: 15rem;
}
.about .image::before {
  top: 0;
  left: 0;
}
.about .image::after {
  bottom: 0;
  right: 0;
}
.about .image img {
  width: 100%;
  padding: 2rem;
}
.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.about .content span {
  font-size: 5rem;
  font-weight: var(--fw6);
  color: var(--main-color);
}
.about .content .title {
  font-size: 4rem;
  font-weight: var(--fw6);
  color: var(--text-color);
  margin-top: 0.5rem;
}
.about .content p {
  font-size: 1.6rem;
  font-weight: var(--fw3);
  color: var(--light-text-color);
  padding: 1rem 0;
  line-height: 2;
}
.about .content .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.about .content .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
  font-weight: var(--fw4);
  font-size: 2rem;
  color: var(--text-color);
}

.about .content .box-container .box h3 i {
  padding-right: 1.5rem;
  font-weight: var(--fw7);
  color: var(--main-color);
}

/* features section */

.features h1 {
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  font-weight: var(--fw6);
  color: var(--main-color);
}
.features h1::before {
  content: "";
  display: block;
  width: 35%;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--main-color);
  overflow-x: hidden;
}
.features h1::after {
  content: "";
  display: block;
  width: 35%;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  right: 0;
  background: var(--main-color);
  overflow-x: hidden;
}
.features-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.features-card {
  position: relative;
  max-width: 54rem;
  height: 36rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 20.2rem rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  align-items: center;
  margin: 1rem 0.6rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 0.1rem solid var(--main-color);
}
.features-card:hover {
  height: 42rem;
}
.features-card .features-img {
  position: relative;
  flex: 1;
  max-width: 50rem;
  margin: auto;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  border: var(--main-color);
}
.features-card .features-img img {
  max-width: 100%;
}
.features-card:hover .features-img img {
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}
.features-card .features-img h3 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: var(--fw4);
}
.features-card .features-text {
  position: relative;
  padding: 0.1rem 1.5rem;
  text-align: center;
  color: var(--text-color);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.features-card:hover .features-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}
.features-card .features-text p {
  color: var(--light-text-color);
  font-size: 1.6rem;
  font-weight: var(--fw3);
}

/* price section  */
.price {
  position: relative;
}
.price h1 {
  color: var(--main-color);
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  font-weight: var(--fw7);
}
.price h1::before {
  content: "";
  display: block;
  width: 35%;
  height: 0.2rem;
  position: absolute;
  top: 10%;
  left: 12rem;
  background: var(--main-color);
  overflow-x: hidden;
}
.price h1::after {
  content: "";
  display: block;
  width: 35%;
  height: 0.2rem;
  position: absolute;
  top: 10%;
  right: 12rem;
  background: var(--main-color);
  overflow-x: hidden;
}
.price h2 {
  color: var(--text-color);
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: var(--fw6);
}
.price-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.price-card {
  flex-wrap: wrap;
  position: relative;
  width: 32rem;
  height: 50rem;
  margin: 1rem;
  justify-content: center;
  padding: 1rem;
  background: var(--card-color);
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3),
    -0.2rem -0.2rem 0.5rem rgba(48, 44, 16, 0.616);
  border-bottom-right-radius: 4rem;
  cursor: pointer;
}
.price-card:hover {
  border: 0.1rem solid var(--main-color);
  transform: scale(1.1);
  background: transparent;
}
.price-container .price-card.standart {
  background: transparent;
  border: 0.1rem solid var(--main-color);
}
.price-container .price-card.standart:hover {
  background: var(--card-color);
  border: transparent;
}
.price-container .price-card.standart h2 {
  color: var(--text-color);
}
.price-container .price-card.standart:hover h2 {
  color: var(--main-color);
}
.price-container .price-card.standart a.btn {
  background: var(--text-color);
  color: var(--main-color);
}
.price-container .price-card.standart:hover a.btn {
  background: var(--main-color);
  color: var(--text-color);
}
.price-container .price-card.standart h3 {
  color: var(--main-color);
  background: var(--text-color);
}
.price-container .price-card.standart:hover h3 {
  color: var(--text-color);
  background: var(--main-color);
}
.price-container .price-card.standart p i {
  color: var(--light-text-color);
}
.price-container .price-card.standart:hover p i {
  color: var(--main-color);
}
.ribbon {
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  overflow: hidden;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 0.59rem solid var(--dark-main);
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon::before {
  top: 0;
  left: 4rem;
}
.ribbon::after {
  bottom: 4rem;
  right: 0;
}
.ribbon span {
  position: absolute;
  background: var(--main-color);
  width: 20rem;
  padding: 0.2rem 0 0.2rem 2rem;
  color: var(--text-color);
  top: 2rem;
  right: -5rem;
  text-align: center;

  font-size: 2rem;
  transform: rotate(45deg);
}

.price-card h4 {
  color: var(--light-text-color);
  position: absolute;
  font-size: 32rem;
  top: 6rem;
  right: 0;
  opacity: 0.1;
}
.price-card:hover h2 {
  color: var(--text-color);
}
.price-card .star {
  position: relative;
  font-size: 3rem;
  left: -1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.price-card .star .star-3 i {
  color: var(--star-color);
}
.price-card.standart .star .star-2 i,
.price-card.standart .star .star-3 i {
  color: var(--star-color);
}
.price-card.premium .star .star-1 i,
.price-card.premium .star .star-2 i,
.price-card.premium .star .star-3 i {
  color: var(--star-color);
}
.price-card .circle {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  width: 100%;
  clip-path: polygon(100% 0, 0 0, 0 85%, 50% 100%, 100% 85%);
  background: var(--main-color);
  height: 20rem;
  opacity: 0.2;
}
.price-card:hover p i {
  color: var(--light-text-color);
}
.price-card:hover a.btn {
  background-color: var(--text-color);
  color: var(--main-color);
}
.price-card h3 {
  text-align: center;
  align-items: center;
  color: var(--text-color);
  background: var(--main-color);
  font-size: 3rem;
  font-weight: var(--fw5);
}
.price-card:hover h3 {
  color: var(--main-color);
  background: var(--text-color);
}
.price-card h2 {
  text-align: center;
  align-items: center;
  color: var(--main-color);
  font-size: 10rem;
  margin: -2rem 0;
  font-weight: var(--fw7);
}
.price-card h2 span {
  margin-left: -2.5rem;
  font-size: 2.6rem;
  font-weight: var(--fw3);
}
.price-card p {
  color: var(--light-text-color);
  font-size: 1.6rem;
  padding-top: 0.7rem;
  align-items: center;
  padding-left: 4rem;
}
.price-card p i {
  color: var(--main-color);
}
.price-card a.btn {
  position: absolute;
  bottom: 2rem;
  left: 27%;
}

/* media Query */

@media only screen and (min-width: 999px) and (max-width: 1179px) {
  nav ul {
    right: -4.2rem;
  }
  .container {
    width: 90%;
    min-height: 70vh;
  }
  .container .row {
    width: 100%;
  }

  .container .row .home-text {
    left: 2rem;
  }
  .logo {
    left: 1rem;
  }
  nav.sticky .logo {
    width: 4rem;
    left: 1rem;
  }
  .features h1::before,
  .features h1::after {
    width: 32%;
  }
  .features-card {
    height: 21rem;
    flex-basis: 30%;
    flex-direction: column;
  }
  .features-card:hover {
    height: 35rem;
  }

  .price-card {
    flex-direction: column;
  }
  .price h1::before {
    width: 30%;
    top: 6.5%;
    left: 13rem;
  }
  .price h1::after {
    width: 30%;
    top: 6.5%;
    right: 13rem;
  }
}

@media only screen and (min-width: 787px) and (max-width: 998px) {
  .menu {
    margin-right: -3rem;
    display: block;
    cursor: pointer;
  }
  .menu .line {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--main-color);
    margin: 0.6rem 0;
  }
  .menu.active .line:nth-child(2) {
    opacity: 0;
  }
  .menu.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.5s;
  }
  .menu.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    transition: all 0.5s;
  }
  .fullbody.active {
    margin-left: 20rem;
    transition: all 0.6s ease;
    opacity: 0.3;
  }
  .navItems {
    position: fixed;
    left: -100%;
    top: 5.7rem;
    padding-bottom: 12rem;
    flex-direction: column;
    background-color: var(--nav-color);
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
    text-align: center;
  }
  li {
    margin: 0.1rem 0;
  }
  .navItems.active {
    left: 0;
  }
  .container {
    min-height: 70vh;
    width: 100%;
  }
  .container .row {
    width: 100%;
  }
  .container .row .home-text {
    left: 3rem;
    width: 44rem;
  }
  .container .row .image {
    width: 37rem;
  }
  .logo {
    left: -3rem;
  }
  nav.sticky .logo {
    left: -3rem;
  }
  .features h1::before,
  .features h1::after {
    width: 30%;
  }
}

@media only screen and (min-width: 568px) and (max-width: 786px) {
  .menu {
    margin-right: -3rem;
    display: block;
    cursor: pointer;
  }
  .menu .line {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--main-color);
    margin: 0.6rem 0;
  }
  .menu.active .line:nth-child(2) {
    opacity: 0;
  }
  .menu.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.5s;
  }
  .menu.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    transition: all 0.5s;
  }
  .fullbody.active {
    margin-left: 18rem;
    transition: all 0.6s ease;
    opacity: 0.3;
  }
  .navItems {
    position: fixed;
    left: -100%;
    top: 5.7rem;
    padding-bottom: 12rem;
    flex-direction: column;
    background-color: var(--nav-color);
    width: 18rem;
    height: 100vh;
    transition: 0.3s;
    text-align: center;
  }
  li {
    margin: 0.1rem 0;
  }
  .navItems.active {
    left: 0;
  }
  .container {
    width: 100%;
    min-height: 70vh;
  }
  .container .row {
    width: 100%;
    flex-direction: column;
  }
  .container .row .home-text {
    width: 39rem;
    left: 3rem;
  }
  .container .row .home-text h3 {
    font-size: 2.5rem;
    font-weight: var(--fw3);
  }
  .container .row .home-text h1 {
    font-size: 5rem;
    font-weight: var(--fw4);
  }
  .container .row .home-text h1 span {
    font-size: 7rem;
    font-weight: var(--fw6);
  }
  .container .row .home-text p {
    font-size: 1.7rem;
    font-weight: var(--fw4);
  }
  .logo {
    left: -3rem;
  }
  nav.sticky .logo {
    left: -3rem;
  }
  .features h1::before,
  .features h1::after {
    width: 23%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 567px) {
  .menu {
    margin-right: -4rem;
    display: block;
    cursor: pointer;
  }
  .menu .line {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--main-color);
    margin: 0.6rem 0;
  }
  .menu.active .line:nth-child(2) {
    opacity: 0;
  }
  .menu.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.5s;
  }
  .menu.active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.5s;
  }
  .fullbody.active {
    margin-left: 18rem;
    transition: all 0.6s ease;
    opacity: 0.3;
  }
  .navItems {
    position: fixed;
    left: -100%;
    top: 5.7rem;
    padding-bottom: 12rem;
    flex-direction: column;
    background-color: var(--nav-color);
    width: 18rem;
    height: 100vh;
    transition: 0.3s;
    text-align: center;
  }
  li {
    margin: 1px 0;
  }
  .navItems.active {
    left: 0;
  }
  .container {
    min-height: 70vh;
    width: 100%;
  }
  .container .row {
    width: 100%;
    flex-direction: column;
  }
  .container .row .home-text {
    top: -5rem;
    width: 32rem;
    left: 2rem;
  }
  .container .row .home-text h3 {
    font-weight: var(--fw3);
    font-size: 2rem;
    padding: 1rem 0;
  }
  .container .row .home-text h1 {
    font-size: 4rem;
    font-weight: var(--fw4);
  }
  .container .row .home-text h1 span {
    font-size: 6rem;
    font-weight: var(--fw6);
    padding: 1rem 0;
  }
  .container .row .home-text p {
    font-size: 1.5rem;
    font-weight: var(--fw4);
    padding: 1rem 0 0 0;
  }
  .logo {
    left: -4rem;
  }
  nav.sticky .logo {
    left: -4rem;
  }
  .features h1::before,
  .features h1::after {
    width: 14%;
  }

  .price-card {
    height: 55.5rem;
  }
}
